@import "variables.scss";

.repo {
  width: 50vw;
  min-width: 300px;
  max-width: 500px;
  border: solid 2px #f6f6f6;
}

.highlighted {
  border: solid 2px $PRIMARY_COLOR;
}

.card-content {
  flex: 7;
}

.card-control {
  flex: 1;
}
